header{
    border: double black 5px;
    background-color: bisque;
}
body{
    background-color: rgba(241, 230, 214, 0.877);
}
article{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(248, 176, 176);
    margin-bottom: 20px;
}
article h3{
    color: rgb(0, 0, 0);
    background-color: rgb(248, 176, 176);
}
footer{
    background-color: rgb(248, 176, 176);
    border: double black 10px;
}